<div class="all">
<ion-header>
  <ion-toolbar>
    <ion-title>
      <b>Mi App de Tareas</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngFor="let note of tareas">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{note.Name}}</ion-card-title>
        <ion-card-subtitle><b>Fecha: </b>{{note.Month}}/{{note.Year}}</ion-card-subtitle>
      </ion-card-header>

      <!--ion-card-content>
        {{note.Description}}
      </ion-card-content-->

      <ion-button id="details" (click)="showDetails(note.Description)"><span><b>+ Ver mas detalles</b></span></ion-button>
    </ion-card>
  </ion-list>

</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button color="secondary" id="addNewAssignment">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-modal #modal trigger="addNewAssignment">
  <ng-template>
    <app-agregar-tarea></app-agregar-tarea>

    <ion-fab slot="fixed" vertical="bottom" horizontal="center">
      <ion-fab-button id="formButton" color="secondary" (click)="modal.dismiss()" (click)="agregarTarea()">
        Agregar
      </ion-fab-button>
    </ion-fab>
  </ng-template>
</ion-modal>

</div>